
<nav class="navbar is-black" role="navigation" aria-label="dropdown navigation">
  <a class="navbar-item" (click)="showCarousel()">
      <i class="icon-attr fa fa-fighter-jet"></i>
      {{ title }}
  </a>

  <div class="navbar-end navbar-item has-dropdown" [ngClass]="{'is-active': displayDropDown}">
      <a class="navbar-item" (click)="showCarousel()">
        Home
      </a>
      <a class="navbar-item" href="https://bulma.io/">
        Link#1
      </a>
      <a class="navbar-item" href="https://bulma.io/">
        Link#2
      </a>
      <a class="navbar-item" (click)="showDropdown()">
        Components
      </a>
      <div class="navbar-dropdown">
        <a class="navbar-item" (click)="showCarousel()" [ngClass]="{'is-active': displayCarousel }">
          Carousel
        </a>
        <a class="navbar-item" (click)="showSlidingDoors()" [ngClass]="{'is-active': displaySlidingDoors }">
          Sliding Doors
        </a>
        <a class="navbar-item" (click)="showGeneralTestPopup()" [ngClass]="{'is-active': displayPopup }">
          Animated Popup
        </a>
        <hr class="navbar-divider">
        <div class="navbar-item">
          Version 0.6.1
        </div>
      </div>
  </div>
</nav>

<!-- <app-main-content></app-main-content> -->
<router-outlet></router-outlet>

<app-footer-section></app-footer-section>