<section class="hero is-info is-large sliding-doors-section">

  <div class="hero-body">
    <!-- the following div will contain our new sliding doors component -->
    <!-- [@cardAnimator]="openDoors" (@cardAnimator.done)="resetAnimation()" -->
    <div class="container has-text-centered">
      <div class="left-door">
        <div [ngClass]="{ 'hide-inner-content': areDoorsOpen == false, 'show-inner-content': areDoorsOpen == true }">
          TEST
        </div>
      </div><div class="right-door" [@popupState]="stateName" (click)="openDoors()"></div>
      <div class="title">
        Bulma-Fire
      </div>
      <div class="subtitle ">
         Subtitle
      </div>
    </div>
  </div>

  <div class="hero-foot">
    <!-- <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active">
            <a>TEST A</a>
          </li>
          <li>
            <a>TEST B</a>
          </li>
          <li>
            <a>TEST C</a>
          </li>
          <li>
            <a>TEST D</a>
          </li>
          <li>
            <a>TEST E</a>
          </li>
          <li>
            <a>TEST F</a>
          </li>
        </ul>
      </div>
    </nav> -->
  </div>
</section>