.hero.is-info {
    background-color: #EFEFEF;
}

.sliding-doors-section {
    background-color: #EFEFEF;
}

.container.has-text-centered {
    background-color: #EFEFEF;
}

.title {
    display: none;
}
.subtitle {
    display: none;
}

.left-door {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 400px 400px 0 0;
    border-color: #969ba1 transparent transparent transparent;
    display: inline-flex;
    position: absolute;
    margin-right:0rem;
    transition-duration: 3s;    
  }
//   .left-door:active {
//     margin-left: 20rem;
//   }

  .right-door {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 400px 400px;
    border-color: transparent transparent #969ba1 transparent;
    display: inline-flex;
    z-index: 2;
    margin-left:0rem;
    transition-duration: 3s;
    padding-right: 5rem;
    // label the longer right panel, as the 'door'
  }  
  .right-door:active {
    margin-left: 40rem;
   }