.yellow-blocks {
    background-color: #c7cc00;
    color: #000000;
    height: 3.5rem;
}
.black-blocks {
    height: 3.5rem;
    background-color: #000000;
    color: #ffffff;
}

// .columns.is-gapless > .column {
//     padding: none !important;;
// }
.content {
    width:100%;
    height: 100%;
    text-align: center;
    padding: 1rem;
}

.footer{
    background-color: #484848;
    padding: 3rem;
}