<footer class="footer general-layout">
  <!-- <div class="container"> -->
    <!-- <div class="content has-text-centered"> -->
      <div class="columns is-gapless is-multiline is-mobile">
        <div class="column is-one-quarter yellow-blocks">
          <div class="content">is-one-quarter</div>
        </div>
        <div class="column is-one-quarter black-blocks">
          <div class="content">is-one-quarter</div>
        </div>
        <div class="column is-one-quarter black-blocks">
          <div class="content">is-one-quarter</div>
        </div>
        <div class="column is-one-quarter black-blocks">
          <div class="content">is-one-quarter</div>
        </div>
        <div class="column is-half yellow-blocks">
          <div class="content">is-half</div>
        </div>
        <div class="column is-one-quarter black-blocks">
          <div class="content">is-one-quarter</div>
        </div>
        <div class="column is-one-quarter black-blocks">
          <div class="content">is-one-quarter</div>
        </div>
        <div class="column is-one-quarter black-blocks">
          <div class="content" style="background: url(/images/various/sven-scheuermeier-34477.jpg) center center/cover no-repeat;">
            <a href="https://bulma.io">
              <img src="https://bulma.io/images/made-with-bulma--white.png" alt="Made with Bulma" width="128" height="24">
            </a>
          </div>
        </div>
        <div class="column yellow-blocks">          
          <div class="content">
            auto
          </div>
        </div>
      </div>
    <!-- </div> -->
  <!-- </div> -->
</footer>