/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/bulma.sass";

html {
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    // overflow: hidden;
    // overflow-y: scroll;
}
// @media screen and (min-width: 1024px) {
// a.navbar-item.is-active:not(:hover) {
//     background-color: #c7cc00;
// }
// }