<section class="hero is-info is-large" [ngStyle]="{'background-image': 'url(' + currentImage + ')'}">

  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="title">
        Bulma-Fire
      </div>
      <div class="subtitle ">
        <div class="carousel-btns" (click)="backward()"> <i class="fa fa-step-backward"></i>
        </div> Subtitle <div class="carousel-btns" (click)="forward()"> <i class="fa fa-step-forward"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <!-- <img src="assets/images/Abstract-Hi-tech-Desktop-Wallpapers.jpg"> -->
        <ul>
          <li class="is-active">
            <a>Overview</a>
          </li>
          <li>
            <a>Modifiers</a>
          </li>
          <li>
            <a>Grid</a>
          </li>
          <li>
            <a>Elements</a>
          </li>
          <li>
            <a>Components</a>
          </li>
          <li>
            <a>Layout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>