<div class="popup-container">
  <section class="section section-buffer">
    <div class="container">
      <h1 class="title">Section</h1>
      <h2 class="subtitle">
        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
      </h2>
      <button class="button is-primary" (click)="openModal()">Show Modal</button>
      <app-animated-popup [isModalDisplayed]="isModalActive" (eventClick)="handleCloseEvent($event)"></app-animated-popup>
    </div>
  </section>
</div>
